.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.mapContainer {
  height: 300px;
  width: 1000px;
}

@media (max-width: 1000px) {
  .mapContainer {
    width: 700px;
  }
}

@media (max-width: 650px) {
  .mapContainer {
    width: 450px;
  }
}

@media (max-width: 450px) {
  .mapContainer {
    width: 300px;
  }
}
